{% load static %}
<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="widht=device-widht,initial-scale=1.0">
	<meta charset="utf-8">
	<title>{{judul}}</title>

	{% block app_css %}
	<link rel="stylesheet" type="text/css" href="{% static "css/style.css" %}">
	<link rel="stylesheet" type="text/css" href="{% static "css/font.css" %}">
	{% endblock app_css %}	

	{% include "snippets/style.html" %}

	<link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
	

</head>
<body>
	<header>
		{% include "snippets/navbar.html" %}
	</header>

	{% block content-1 %}
	
	{% endblock content-1 %}

	{% block section-1 %}
	
	{% endblock section-1 %}

	{% block section-2 %}
	
	{% endblock section-2 %}

	{% block section-blog %}

	{% endblock section-blog %}

	{% block section-contact %}

	{% endblock section-contact %}
	
	{% include "snippets/scripts.html" %}

	 <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
  	 <script>
     	AOS.init();
  	 </script>
	<script type="text/javascript">
		$(document).scroll(function() {
			$('.navbar').toggleClass('scrolled', $(this).scrollTop() > $('.navbar').height());
		});
	</script>
</body>
</html>