{% extends "base.html" %}
{% load static %}

{% block content-1 %}
	<div class="jumbotron jumbotron-fluid height100p banner" id="home">
 		 <div class="container h100">
    		<div class="contentBox h100">
    			<div data-aos="fade-up" data-aos-duration="1000" data-aos-delay="0">
    				<h1>{{heading}}</h1>
    				<p>{{subheading}}</p>
    			</div>
    		</div>
  		</div>
	</div>
{% endblock content-1 %}

{% block section-1 %}
	<section class="sec1" id="explore">
		<div class="container">
			<div class="row">
				<div class="offset-sm-2 col-sm-8">
					<div class="headerText text-center">
						<h2 data-aos="fade-up" data-aos-duration="1000" data-aos-delay="0">Explore The World</h2>
						<p data-aos="fade-up" data-aos-duration="1000" data-aos-delay="400">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
						quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
						consequat.</p>
					</div>
				</div>		
			</div>
			<div class="row">
				<div class="col-sm-4">
					<div class="placeBox" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="0">
						<div class="imgBx">
							<img src="{% static "img/img1.jpg" %}" class="img-fluid">
						</div>
						<div class="content">
							<h3>Place Name<br><span>Country Name</span></h3>
						</div>
					</div>
				</div>
				<div class="col-sm-4">
					<div class="placeBox" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="500">
						<div class="imgBx">
							<img src="{% static "img/img2.jpg" %}" class="img-fluid">
						</div>
						<div class="content">
							<h3>Place Name<br><span>Country Name</span></h3>
						</div>
					</div>
				</div>
				<div class="col-sm-4">
					<div class="placeBox" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="1000">
						<div class="imgBx">
							<img src="{% static "img/img3.jpg" %}" class="img-fluid">
						</div>
						<div class="content">
							<h3>Place Name<br><span>Country Name</span></h3>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
{% endblock section-1 %}


{% block section-2 %}
	<section class="sec2" id="adventure">
		<div class="container h100">
			<div class="contentBox h100">
				<div data-aos="fade-up" data-aos-duration="1000" data-aos-delay="0">
					<h1>Adventure Is Everywhere</h1>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
					quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
					consequat.</p>
					<a href="#" class="btn btnD1">Read More</a>
				</div>
			</div>
		</div>
	</section>
{% endblock section-2 %}

{% block section-blog %}
	<section class="blog" id="blog">
		<div class="container" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="0">
			<div class="row">
				<div class="offset-sm-2 col-sm-8">
					<div class="headerText text-center">
						<h2>Our Lates Post</h2>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
						quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
						consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
						cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
						proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-6">
					<div class="blogpost" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="0">
						<div class="imgBx">
							<img src="{% static "img/img1.jpg" %}" class="img-fluid">
						</div>
						<div class="content">
							<h1>Pesona Indonesia</h1>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
							tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
							quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
							consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
							cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
							proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
							<a href="#" class="btn btnD2">Read More</a>
							<div class="clearfix"></div>
						</div>
					</div>
				</div>
				<div class="col-sm-6">
					<div class="blogpost" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="500">
						<div class="imgBx">
							<img src="{% static "img/img2.jpg" %}" class="img-fluid">
						</div>
						<div class="content">
							<h1>Pesona Indonesia</h1>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
							tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
							quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
							consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
							cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
							proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
							<a href="#" class="btn btnD2">Read More</a>
							<div class="clearfix"></div>
						</div>
					</div>
				</div>
				<div class="col-sm-6">
					<div class="blogpost" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="0">
						<div class="imgBx">
							<img src="{% static "img/img3.jpg" %}" class="img-fluid">
						</div>
						<div class="content">
							<h1>Pesona Indonesia</h1>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
							tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
							quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
							consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
							cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
							proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
							<a href="#" class="btn btnD2">Read More</a>
							<div class="clearfix"></div>
						</div>
					</div>
				</div>
				<div class="col-sm-6">
					<div class="blogpost" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="500">
						<div class="imgBx">
							<img src="{% static "img/img1.jpg" %}" class="img-fluid">
						</div>
						<div class="content">
							<h1>Pesona Indonesia</h1>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
							tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
							quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
							consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
							cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
							proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
							<a href="#" class="btn btnD2">Read More</a>
							<div class="clearfix"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
{% endblock section-blog %}


{% block section-contact %}
<section class="contact" id="contact">
		<div class="container" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="0">
			<div class="row">
				<div class="col-sm-12">
					<div class="headerText text-center">
						<h2>Contact Us</h2>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
					</div>
				</div>
			</div>
			<div class="row clearfix">
				<div class="offset-sm-2 col-sm-8">
						<form>
							<div class="form-group">
								<label>Name</label>
								<input type="text" name="" class="form-control">
							</div>
							<div class="form-group">
								<label>Email</label>
								<input type="text" name="" class="form-control">
							</div>
							<div class="form-group">
								<label>Phone</label>
								<input type="text" name="" class="form-control">
							</div>
							<div class="form-group">
								<label>Massage</label>
								<textarea class="form-control textarea" name=""></textarea>
							</div>
							<div class="form-group">
								<button class="btn btnD1">Send</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</section>
{% endblock section-contact %}