{% extends "base.html" %}
{% load static %}
{% block app_css %}
	<link rel="stylesheet" type="text/css" href="{% static "registrasi/css/styles.css" %}">
{% endblock app_css %}cc
{% block judul %}
<h1 class="text-left" style="margin-top: 280px">{{judul}}
<p class="lead text-left"> {{subjudul}}</p>
{% endblock judul %}
{% block content-1 %}
			{% block contents %}
				<p><table class="table">
				  <thead>
				    <tr>
				      <th scope="col">#</th>
				      <th scope="col">Nama</th>
				      <th scope="col">Email</th>
				      <th scope="col">Jenis Kelamin</th>
				      <th scope="col">Alamat</th>
				      <th scope="col">Hapus</th>
				      <th scope="col">Ubah</th>
				    </tr>
				  </thead>
				  <tbody>

				  	{% for akun in semua_akun %}
				  		<tr>
				      <th scope="row">{{forloop.counter}}</th>
				      <td>{{akun.nama}}</td>
				      <td>{{akun.email}}</td>
				      <td>{{akun.jenis_kelamin}}</td>
				      <td>{{akun.alamat}}</td>
				      <td><a class="btn btn-danger" href="{% url 'registrasi:delete' akun.id %}" title="">Hapus</a></td>
				      <td><a class="btn btn-warning" href="{% url 'registrasi:update' akun.id %}" title="">Ubah</a></td>
				    </tr>

				    {% endfor %}

				  </tbody>
				</table></p>
				<p><a class="btn btn-primary" href="{% url 'registrasi:create' %}">Tambah</a></p>
			{% endblock contents %}

{% endblock content-1 %}

